/* Includes the parts where one can modify content */
/* Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: var(--bg-darker);
  padding: 1.5rem;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  color: var(--text-primary);
}

.modal-input,
.modal-textarea {
  display: block;
  width: 95%;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: var(--bg-dark);
  color: var(--text-primary);
}

.modal-textarea {
  min-height: 100px;
  resize: vertical;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-top: 1rem;
}

.modal-actions button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.modal-actions button:first-child {
  background-color: green;
  color: white;
}
.modal-actions button:first-child:hover {
  background-color: darkgreen;
}




.edit-sequence {
  width: 50px;
  padding: 0.25rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  background-color: var(--bg-lighter);
}


.edit-input {
  flex: 1;
  padding: 0.5rem;
  margin-right: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: var(--bg-lighter);
}

.edit-textarea {
  flex: 2;
  padding: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 4px;
  min-height: 24px;
  resize: vertical;
  background-color: var(--bg-lighter);
}