/* Dark - Light Mode */
:root { 
  --bg-dark: #121212d7;
  --bg-darker: #0a0a0a;
  --bg-lighter: #ffffff95;
  --text-primary: #e0e0e0;
  --text-secondary: #aaaaaa;
  --accent-color: #bb86fc;
  --overlay-color: rgba(0, 0, 0, 0.5);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-dark);
  color: var(--text-primary);
}
body.light-mode {
  background-color: #f5f5f5;
  color: #333;
  --bg-dark: #f5f5f5;
  --bg-darker: #e0e0e0;
  --text-primary: #333;
  --text-secondary: #666;
  --accent-color: #6200ee;
  --overlay-color: rgba(0, 0, 0, 0.2);
}

/* Hide up/down arrowa for number inpues */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Icons */
.plus-icon {
  width: 24px;
  height: 24px;
  filter: invert(1);
}

.default-icon {
  width: 24px;
  height: 24px;
}

/* Messages */
.success-message {
  color: green;
  margin-top: 1rem;
}

.error-message {
  color: red;
  margin-top: 1rem;
}
