.viewable-container {
  padding: 1rem;
}

.viewable-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 1rem;
}


.viewable-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.viewable-item {
  display: flex;
  align-items: center;
  padding: 0.75rem;
  background-color: var(--bg-dark);
  border-radius: 4px;
  border: 1px solid #333;
}


.sequence-edit-item {
  display: flex;
  align-items: center;
  gap: 0.15rem;
  margin-right: 0.5rem;
}